.principal {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.bg-blanco {
    background-color: transparent;
}

.bg-flecha {
    background-image: url("img/flecha.png");
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

.imagenes {
    max-width: 80%;
    height: auto;
    display: block;
    padding-bottom: 4rem;
}

form {
    padding-bottom: 4rem;
    font-family: Arial, Helvetica, sans-serif !important;
    max-width: 450px;
    margin: 0 auto;
    padding-right: 2rem;
    /* text-align: center; */
}

form small.form-text.text-muted {
    color: #fff !important;
    font-style: italic;
    font-stretch: semi-condensed;
    /* background-color: black; */
    font-size: 1rem;
    padding-top: 0;
    display: inline-block;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .4rem 0.8rem;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #51c1e1;
    border: none;
    border-radius: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2em + .9rem + 5px);
    padding: .5rem 0.9rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid lightslategray;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

form .btn-primary {
    color: #fff;
    background-color: #51c1e1;
    border-color: #51c1e1;
    font-style: italic;
    font-stretch: semi-condensed;
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .5rem .8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}

.go-back a {
    color: #000!important;
    font-style: italic;
    font-stretch: semi-condensed;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif !important;
    transition: .4s;
}

.go-back a:hover {
    transition: .4s;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .bg-flecha {
        background-image: none;
    }
    .bg-blanco {
        background-color: #fff;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .imagenes {
        max-width: 100%;
        height: auto;
        display: block;
        padding-bottom: 1rem;
        margin: 0 auto;
    }
}